Rec Id : {{RecId}}  &nbsp;
<button mat-raised-button color="primary" [matMenuTriggerFor]="menu">Action</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item>Hold</button>
  <button mat-menu-item>Near To Complete</button>
  <button mat-menu-item>Complete</button>
  <button mat-menu-item>Update Progress</button>
</mat-menu> &nbsp;
<button mat-raised-button color="primary">Assign</button>&nbsp;
<button mat-raised-button color="primary">Print</button>
<br><br>
<mat-card >
  <h3>Employee Task</h3>
  <!-- <button mat-icon-button><mat-icon>create</mat-icon> </button>&nbsp;
  <button mat-icon-button><mat-icon>arrow_back</mat-icon></button> -->
  <hr>

  <mat-card>
    <h4>Task Details</h4>
    <hr>
    <mat-grid-list cols="3" rowHeight="220px">
        <mat-grid-tile>
          <table>
            <tr><td><b>Identification</b></td></tr>
            <tr>
              <td>Task Id :</td>
              <td>{{Header.RecId}} </td>
            </tr>
            <tr>
                <td>Customer TaskId :</td>
                <td>{{Header.ExternalTaskId}} </td>
            </tr>
            <tr>
                <td>Project Id :</td>
                <td>{{Header.ProjectId}} </td>
              </tr>
              <tr>
                  <td>Group :</td>
                  <td>{{Header.GroupEn}} </td>
              </tr>
              <tr>
                  <td>Assigned To	: </td>
                  <td>{{Header.AssignedToEn}} </td>
                </tr>
                <tr>
                    <td>Priority : </td>
                    <td>{{Header.PriorityEv}} </td>
                </tr>
                <tr><td></td></tr>
          </table>
        </mat-grid-tile>
        <mat-grid-tile>
            <table>
                <tr><td><b>Relation</b></td></tr>
              <tr>
                <td>Target Date :</td>
                <td>{{Header.TargetDate}} </td>
              </tr>
              <tr>
                <td>Estimated EffortDays	:</td>
                <td>{{Header.EstimatedEffortDays}} </td>
              </tr>
              <tr>
                <td>Estimated EffortHours :</td>
                <td>{{Header.EstimatedEffortHours}} </td>
              </tr>
              <tr>
                <td>Estimated EffortMinutes : </td>
                <td>{{Header.EstimatedEffortMinutes}} </td>
              </tr>              
              <tr>
                <td>Scheduled Start	:</td>
                <td>{{Header.ScheduledStart}} </td>
              </tr>
              <tr>
                <td>Scheduled End	: </td>
                <td>{{Header.ScheduledEnd}} </td>
              </tr>
            </table>
        </mat-grid-tile>
        <mat-grid-tile>
            <table>
                <tr><td><b>Assignment</b></td></tr>
              <tr>
                <td>Actual Start : </td>
                <td>{{Header.ActualStart}} </td>
              </tr>
              <tr>
                <td>Actual End : </td>
                <td>{{Header.ActualEnd}} </td>
              </tr>
              <tr>
                <td>Actual CompletePercentage : </td>
                <td>{{Header.CompletePercentage}}</td>
              </tr>
              <tr>
                <td>Actual Status : </td>
                <td>{{Header.Status==1?"New":Header.Status==2?"Process":Header.Status==3?"Hold":Header.Status==4?"Near To Complete":Header.Status==5?"Complete":""}} </td>
              </tr>
              <tr>
                <td>Total Time : </td>
                <td>{{Header.data}} </td>
              </tr>
              <tr>
                <td>Task Index : </td>     
                <td>{{Header.TaskStatusIndex == 1 ? 'Before' : Header.TaskStatusIndex == 2 ? 'OnTime' : Header.TaskStatusIndex == 3 ? 'Delay' : ''}}</td>                
              </tr>              
            </table>
        </mat-grid-tile>
      </mat-grid-list>
      Title :
      <mat-form-field class="example-full-width">
          <input matInput type="text" readonly  name="Title" value="{{Header.Title}}" placeholder="Title">
      </mat-form-field>&nbsp;

      Description : <mat-form-field class="example-full-width">
          <textarea readonly [value]='Header.Description' matInput placeholder="Leave a comment"></textarea>
                </mat-form-field> <br><br>

    
  </mat-card><br><br>

  <mat-card>
      <h4>Assignment</h4>
    <hr>
    <mat-card>
        <mat-tab-group>
            <mat-tab label="Active Employee"> 
                <table class="table-hover">
                    <thead>
                        <tr>
                            <th>EmployeeId</th>
                            <th>Name</th>
                            <th>Valid From</th>
                            <th>Valid To</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of CurrentActiveEmployees">
                            <td>{{item.AssignedTo}}</td>
                            <td>{{item.AssignedToEn}}</td>
                            <td>{{item.ValidFrom}}</td>
                            <td>{{item.ValidTo}}</td>
                          </tr>
                    </tbody>
                </table>    
              
            </mat-tab>
            <mat-tab label="Assignment History">
                <table class="table-hover">
                    <thead>
                        <tr>
                            <th>Assigned To</th>
                            <th>Complete Percentage</th>
                            <th>Assigned Date</th>
                            <th>Task Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of AssignHistory">
                            <td>{{item.AssignedToEn}}</td>
                            <td>{{item.CompletePercentage}}%</td>
                            <td>{{item.AssignedDate}}</td>
                            <td>{{item.StatusEn}}</td>
                          </tr>
                    </tbody>
                </table>                
            </mat-tab>
          </mat-tab-group>
    </mat-card>
  </mat-card><br><br>

  <mat-card>
      <h4>Status History </h4>
      <hr>
      <table class="table-hover">
          <thead>
              <tr>
                  <th>Status</th>
            <th>Change Date</th>
            <th>Complete Percentage</th>
            <th>Comments</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let item of StatusHistory">
                  <td>{{item.StatusEn}}</td>
                  <td>{{item.Datetime}}</td>
                  <td>{{item.CompletePercentage}}</td>
                  <td>{{item.Comments}}</td>
                </tr>  
          </tbody>
      </table>
      
    </mat-card> <br><br>

<!-- 
  <mat-card>
      <h4>Comments</h4>
      <hr>


    </mat-card> -->
</mat-card>