<span style="font-size: 20px"> Candidate Applied Jobs</span> 
<div> 
    <div class="button-row">
        <button mat-icon-button>
          <mat-icon>delete</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon >search</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon>autorenew</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon >menu</mat-icon>
        </button>
      </div>
</div>
<hr>
<mat-card class="grid-matcard">

  <ag-grid-angular 
      style="width: 100%; height: 450px;" 
      [gridOptions]="gridOptions"

      class="ag-theme-balham"
      [enableSorting]="true"
  
      (gridReady)="onGridReady($event)" 
      [rowData]="rowData" 
      [columnDefs]="columnDefs"
      [animateRows]="true" 
    

      [pagination]="true"
      [paginationPageSize]="15"
  
      [enableFilter]="true"
      [floatingFilter]="true" 
  
      [rowSelection]="'single'"
      >
  </ag-grid-angular>
</mat-card>
