
<mat-card class="mat-class">
  <form #login="ngForm">
      <mat-form-field>
          <input matInput type="text" name="username" [(ngModel)]="login.username" placeholder="User Name">
        </mat-form-field>  <br>

        <mat-form-field>
            <input matInput type="password" name="password" [(ngModel)]="login.password" placeholder="password">
        </mat-form-field><br>

        <button (click)="loginForm(login)" mat-raised-button color="primary">Login</button>
  </form>
</mat-card>