<mat-card>
    <h3>Employee</h3>
    <mat-divider></mat-divider><br>

    <form #Employee="ngForm" class="example-form">

          <mat-form-field>
            <input matInput name="EmployeeId" [(ngModel)]="Employee.EmployeeId" placeholder="Employee ID">
          </mat-form-field>&nbsp;&nbsp;

          <mat-form-field>
            <input matInput name="Name" [(ngModel)]="Employee.Name" placeholder="Name">
          </mat-form-field>&nbsp;&nbsp;

          <mat-form-field>
            <mat-select placeholder="Gender" name="Gender" [(ngModel)]="Employee.Gender">
              <mat-option  *ngFor="let food of ['sdf','sdfsdf', 'sdfsdfdsf','sdfsdf']" value="">{{food}}</mat-option>
            </mat-select>
          </mat-form-field>&nbsp;&nbsp;

          <mat-form-field>
            <mat-select placeholder="Profession" name="Profession" [(ngModel)]="Employee.Profession" >
              <mat-option  *ngFor="let food of ['sdf','sdfsdf', 'sdfsdfdsf','sdfsdf']" value="">{{food}}</mat-option>
            </mat-select>
          </mat-form-field>&nbsp;&nbsp;

          <mat-form-field>
            <input name="Contract ID" [(ngModel)]="Employee.ContractId" type="number" matInput placeholder="Contract ID ">
          </mat-form-field>&nbsp;&nbsp;

          <mat-form-field>
              <input name="ContractValidTo" [(ngModel)]="Employee.ContractValidTo" matInput [matDatepicker]="ContractValidTo" placeholder="Contract Valid To">
              <mat-datepicker-toggle matSuffix [for]="ContractValidTo"></mat-datepicker-toggle>
              <mat-datepicker #ContractValidTo></mat-datepicker>
          </mat-form-field> &nbsp;&nbsp;

          <mat-form-field>
            <input name="NationalId" [(ngModel)]="Employee.NationalId" matInput placeholder="National ID">
          </mat-form-field>&nbsp;&nbsp;

          <mat-form-field>
            <mat-select placeholder="Nationality" name="Nationality" [(ngModel)]="Employee.Nationality" >
              <mat-option  *ngFor="let food of ['sdf','sdfsdf', 'sdfsdfdsf','sdfsdf']" value="">{{food}}</mat-option>
            </mat-select>
          </mat-form-field>&nbsp;&nbsp;

          <mat-form-field>
              <mat-select placeholder="Labour Type" name="LabourType" [(ngModel)]="Employee.LabourType">
                <mat-option  *ngFor="let food of ['sdf','sdfsdf', 'sdfsdfdsf','sdfsdf']" value="">{{food}}</mat-option>
              </mat-select>
          </mat-form-field>&nbsp;&nbsp;

          <mat-form-field>
                  <input matInput name="ContractValidFrom" [(ngModel)]="Employee.ContractValidFrom" [matDatepicker]="ContractValidFrom" placeholder="Contract Valid To">
                  <mat-datepicker-toggle matSuffix [for]="ContractValidFrom"></mat-datepicker-toggle>
                  <mat-datepicker #ContractValidFrom></mat-datepicker>
          </mat-form-field> &nbsp;&nbsp;

    </form>

  <br>
    <mat-divider></mat-divider><br>
    <button (click)="save(Employee)" mat-raised-button color="primary" >Save</button> &nbsp;
    <button (click)="close()" mat-raised-button color="accent">close</button>&nbsp;
  </mat-card>